@import "./breakpoints.scss";
@import "./main.scss";
@import "bootstrap/scss/bootstrap";
@import url("https://fonts.googleapis.com/css2?family=Rubik+Marker+Hatch&display=swap");

.customgif {
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  bottom: 0;
  left: 0;
  margin: auto;
  overflow: auto;
  position: fixed;
  right: 0;
  top: 0;
  -o-object-fit: contain;
  object-fit: contain;
}

.centered {
  color: white;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.black-background {
  height: 100vh!important;
 width: 100vw!important;

  background-color: black;
}
